body{

  background: #0A1108 !important;
}
.ant-drawer {
  z-index: 1030 !important;
}
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

span.ant-modal-close-x {
  color: #ffffff87 !important;
}
span.ant-input-group-addon {
  background: none;
  border: none;
  border-bottom: 2px solid #B7B7A4 !important;
}
.c-pointer { 
cursor: pointer;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

.page-loader {
  width: 100%;
  text-align: center;
  height: 100%;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 150px;
}

.ant-picker-header button {
  padding: 0;
  color: #fff !important;
}
/* collapse */
.checkout-collapse.ant-collapse{
  background-color:#0000 !important;
  border: 1px solid #121212 !important;
}

.border-bottom.border-gray {
  border-color: #808080cc !important;
}

.checkout-collapse.ant-collapse >  .ant-collapse-item > .ant-collapse-content {
  background-color: #5190484a !important;
  border-top: none !important;
}

.checkout-collapse.ant-collapse >  .ant-collapse-item {
  border-bottom: none;
}

.checkout-collapse.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
  background: #5190484a !important;
}

.checkout-collapse.ant-collapse > .ant-collapse-item {
  margin: 30px auto;
}

/* typography */

.section-title{
  font-size: 1.25rem;
  margin-bottom: 0rem;
}

.section-subtitle{
  font-size: 1rem !important;
}
.text-sm{
  font-size: 0.75rem !important;
}
.text-md{
  font-size: 1rem !important;
}
.text-md-1{
  font-size: 1.25rem !important;
}
.text-lg{
  font-size: 1.5rem !important;
}
.text-xl{
  font-size: 2rem !important;
}

.text-xxl{
  font-size: 2.5rem !important;
}

.font-bold{
  font-weight: 600;
}

.font-weight-bold{
  font-weight: 600 !important;
}

/* typography */

/* text-color */

.text-primary{
  color:#519048;
}
.text-secondary{
  color:#fff
}
.text-gray{
  color: #B7B7A4;
}

/* text-color-end */

/* btn  */

.btn-primary-outline{
  border: 1px solid #519048 !important;
  color: #519048 !important;
  background: #5190484a !important
}
.btn-danger-outline{
  border: 1px solid #f11c00 !important;
  color: #f11c00 !important;
  background: #0000 !important
}

.btn-blue {
  background: #4285F4 !important;
  color: #fff !important;
}

/* btn */

/* background */
.bg-primary{
  background: #519048 !important;
  color: #fff !important;
}

/* border */

.border-bottom{
  border-bottom: 1px solid;
}

/* end border */
@media (min-width: 1200px) {
.container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1360px !important;
  }
}