@import 'node_modules/antd/dist/antd.less';
@primary-color: #519048; // primary color for all components
@link-color: #519048; // link color
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #f5222d; // error state color
@font-size-base: 14px; // major text font size
@border-radius-base: 2px; // major border radius
@body-background: #0A1108;
@component-background: #0A1108;
@text-color: fade(@white, 85%);
@text-color-secondary: fade(@white, 45%);
@text-color-inverse: @black;
@heading-color: fade(@white, 85%);