
body{
    font-family: 'GalanoGrotesque', sans-serif;
}

.ml-2{
    margin-left: 10px;
}
.mr-2{
    margin-right: 10px;
}
.logo {
    height: 70px;
    padding: 5px;
    margin: 0px 20px;
}

button.ant-btn.ant-btn-link {
    padding: 0px;
}

span.ant-scroll-number-only-unit.current {
    color: #fff;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff !important;
    text-decoration: none;
    background-color: #519048;
}

a.Language-dropdown.dropdown-toggle.nav-link {
    color: #fff !important;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.7;
    font-size: 14px;
}

.fixed-top{
    z-index: 999;
}

.header-bg{
    background: #0A1108;
  
}

.fixed-top.header-bg > div > nav.navbar.navbar-dark {
    background: #0a1108;
}

.fixed-top.transparent > div > nav.navbar.navbar-dark {
    background: #00000000;
}

a.header-link p {
    color: #fff;
    opacity: 0.65;
    padding-top: 5px;
    font-weight: 500;
    margin: 0px 15px;
}

.header-location-dropdown {
    display: flex;
    color: #fff;
    margin-left: 15px;
    cursor: pointer;
}

.header-location-dropdown p {
    max-width: 200px;
    padding: 0px 10px;
    padding-top: 12px;
    opacity: 0.65;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.header-location-dropdown > img {
    width: 15px;
}

@media (max-width: 480px) {

section.mobile-app-bar {
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

section.mobile-app-bar {
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #000000;
    z-index: 99999999999;
}

.mobile-app-bar > .appbar-icon {
    padding: 15px;
}

footer.footer {
    padding-top: 50px;
    background: #050904;
    padding-bottom: 60px;
}

.acc-menu-item {
    margin: 20px auto;
}

.acc-menu-item > a {
    color: #ffffffb5 !important;
}

.acc-menu-item > a > img {
    margin-right: 15px;
}

}