footer.footer {
    padding-top: 50px;
    background: #050904;
}

.footer-title {
    color: #fff;
    padding-bottom: 5px;
}

.footer-link {
    margin: 15px 0px;
    color: #ffffff96 !important;

}
.footer-link a {
    color: #ffffff96 !important;
}

.footer-logo img {
    width: 120px;
    margin-bottom: 15px;
}

a.footer-social-link {
    margin: 5px;
}

a.footer-social-link:first-child {
    margin-left: 0px;
}

.footer-copyright {
    background: #000;
    padding: 3px 10px;
    color: #fff;
   
}
.footer-copyright p{
    padding: 5px;
    margin-bottom: 0px;
    opacity: 0.6;
}

.social-links-outer{
    justify-content: left;
}
@media (max-width: 480px) {
.social-links-outer{
    justify-content: center;
}
.footer-logo img{
    width: 80px;
}
}