.loyalty-container{
    background: #519048;
    padding: 15px;
    width: 250px;
    height: 130px;
    border-radius: 4px;
    position: relative;
    float: left;
    margin: 10px;
    
}
.font-weight-bold{
    font-weight: 600 !important;
}

.loyality-points-inner {
    position: absolute;
    bottom: 0px;
}

.loyality-points-history-list-container {
    max-width: 520px;
    border: 1px solid gray;
    width: 100%;
}

.points-used-container {
    padding: 10px;
    border-bottom: 1px solid gray;
}
.points-used-container:last-child {
    border-bottom: none;
}

@media (max-width: 480px) {
    .loyalty-container {
        background: #519048;
        padding: 15px;
        width: 47%;
        height: 136px;
        border-radius: 4px;
        position: relative;
        float: none;
        margin: 4px;
    }
    .loyalty-container > p {
        font-size: 0.75rem;
    }
}