.myprofile-tabs > .ant-tabs-content-holder {
    border-left: 0px !important;
    background: rgb(81 144 69 / 10%);
    padding: 0px 24px 0px 0px;
}

button#rc-tabs-0-more {
    display: none;
}

.myprofile-tabs > .ant-tabs-nav {
    width: 250px;
}

.myprofile-tabs.ant-tabs-left > .ant-tabs-nav .ant-tabs-ink-bar, .ant-tabs-left > div > .ant-tabs-nav .ant-tabs-ink-bar {
    width: 0;
}

.myprofile-tabs.ant-tabs-left > .ant-tabs-nav > div > .ant-tabs-nav-list > .ant-tabs-tab-active {
    background:rgb(81 144 72 / 10%);
}

.myprofile-tabs > .ant-tabs-nav > .ant-tabs-nav-wrap {
    margin: 0px 20px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #ffffff !important;
}

.ant-tabs-tab-btn {
    outline: none;
    transition: all 0.3s;
    color: #999595;
    font-weight: 600;
}

.myprofile-tabs.ant-tabs-left > .ant-tabs-nav > div > .ant-tabs-nav-list > .ant-tabs-tab > div.ant-tabs-tab-btn {
    text-transform: uppercase;
}