img.order-image {
    width: 100%;
    height: 100%;
    max-width: 130px;
    max-height: 100px;
    object-fit: cover;
}

.order-divider{
    border-bottom: 2px dashed !important;
    border-color: #eeeeee3d !important;
}

.order-container{
    border: 1px solid #cccccc40;
    padding: 15px;
    margin: 15px;
}
.order-extra-details > .odr-title{
    flex:1;
}
.order-extra-details > .odr-desc{
    flex:4;
}