.address-item {
    width: 300px;
    margin: 10px;
    background: #519048;
    padding: 10px;
    color: #fff;
}

.address-item > p.complete-address {
    color: #fff;

}

button.ant-btn.address-action-btn {
    margin: 5px;
}

.address-list-container {
    display: flex;
    align-items: stretch;
}

.address-item.add-new-address-item {
    background: none;
    border: 1px dashed #519048;
    text-align: center;
}

.address-item.add-new-address-item > .centered-item{
    height: 100%;
    padding-top: 15%;
    cursor: pointer;
}

@media (max-width: 480px) {
    .address-list-container {
        display: block;
        align-items: stretch;
    }
    .address-item {
        width: auto !important;
        margin: 10px;
        background: #519048;
        padding: 10px;
        color: #fff;
    }
}
