
/* branch view */

ul.branch-view-rating {
    font-size: 0.75rem;
}

.branch-view-action-btn > button:first-child {
    margin-left: 0px;
}

.table-branch-image{
    width: 120px;
    height: 100px;
    object-fit: cover;
}

.ant-picker-cell-disabled {
    color: rgb(255 255 255 / 25%) !important;
}

.ant-picker-cell:hover:not(.ant-picker-cell-in-view) .ant-picker-cell-inner, .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(.ant-picker-cell-range-hover-end) .ant-picker-cell-inner {
    background: #333333;
}

.badge.badge-outline {
    border: 1px solid;
}

span.badge {
    font-size: 0.75rem;
}

.badge.bg-busy {
    background: none;
    border: 1px solid #aaaa00;
    font-weight: 400;
    color: #aaaa00;
    border-radius: 2px;
}

.table-booking-picker {
    max-width: 300px;
    height: 40px;
    width: 100%;
    border: 1px solid #519048 !important;
    color: #519048 !important;
    background: #5190484a !important;
}

.table-booking-picker > .ant-picker-input > span.ant-picker-suffix {
    color: #fff !important;
}
.ant-picker-time-panel-column > li.ant-picker-time-panel-cell .ant-picker-time-panel-cell-inner:hover {
    background: #519048 !important;
}
.ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(.ant-picker-cell-range-hover-end) .ant-picker-cell-inner {
    background: #519048 !important;
}

.ant-picker-suffix {
    align-self: center;
    margin-left: 4px;
    color: #fff;
    line-height: 1;
    pointer-events: none;
}

.badge.bg-dinein {
    background: none;
    border: 1px solid #0b7ddf;
    font-weight: 400;
    color: #0b7ddf;
    border-radius: 2px;
}

.branch-view-action-btn > button {
    margin-left: 5px;
    margin-right: 5px;
}

.branch-view-contact-icon {
    background: #519048;
    border-radius: 50%;
    height: 30px;
    padding: 0px 8.5px;
    width: 30px;
}

.map-get-direction-btn {
    position: absolute !important;
    bottom: 10px;
    left: 10px;
}

p.branch-view-contact-details {
    margin-left: 10px;
    margin-right: 10px;
}

.review-rating-container{
    
    align-items: center;

}

.review-rating-container {
    align-items: center;
    background: #3e6e384f;
    border-radius: 2px;
    width: 80%;
    padding: 0px 3.5rem;
}

.review-profile {
    min-width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.ReactGridGallery_tile-viewport{
    height: 120px !important;
    width: 120px !important;
}

.ReactGridGallery_tile-viewport > img {
    object-fit: cover;
    height: 100% !important;
    width: 100% !important;
    margin-left: 0px !important;
}

.branch-rating-progress-bar > .ant-progress-outer > .ant-progress-inner {
    background: #3e6e384f;
    border-radius: 2px;
    margin-bottom: 15px;
}

.branch-rating-progress-bar > .ant-progress-outer > .ant-progress-inner > .ant-progress-bg {
    border-radius: 2px;
}

/* branch view */


img.branch-image {
    height: 65px;
    width: 65px;
    object-fit: contain;
}

.branch-list-container {
    display: flex;
    align-items: center;
    background:rgb(81 144 72 / 20%);
    margin: 10px 0px;
    box-shadow: none;
    border-radius: 2px;
    align-content: space-around;
}
.branch-list-container > .branch-img-container {
    width: 25%;
    padding: 10px;
}
.branch-list-container > .branch-img-container > img.branch-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.branch-details-container {
    width: 50%;
}

.branch-details-container > p {
    margin-bottom: 2px;
    line-height: 1.4;
}
.branch-details-container > p.branch-name {
    font-weight: 600;
    margin-bottom: 0px;
    font-size: 0.75rem;
}

.branch-details-container > p.branch-address {
    font-size: 12px;
    opacity: 0.5;
}
.branch-details-container > p.branch-timing {
    font-size: 11px;
}

.branch-action-container > button{
   background: #519048;
   margin-right: 5px;
   margin-bottom: 5px;
}
.branch-action-container {
    text-align: center;
    width: 25%;
}

.branch-action-container > ul.ant-rate.ant-rate-disabled {
    font-size: 10px;
}

.branch-action-container > ul.ant-rate.ant-rate-disabled > .ant-rate-star:not(:last-child) {
    margin-right: 2px;
}

.branch-action-container > p.branch-review {
    margin-bottom: 2px;
    font-size: 11px;
}


.address-block-list > label.ant-radio-button-wrapper.address-block {
    height: auto;
    width: 100%;
    margin: 5px auto;
}



label.ant-radio-button-wrapper.ant-radio-button-wrapper-checked.address-block {
    background: #51904830;
}

p.name-of-address {
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 600;
}

p.complete-address {
    opacity: 0.8;
    color: #969393;
}

.address-block-list {
    width: 90%;
}

.address-block-list > label.ant-radio-button-wrapper.address-block > span > img.left-checked {
    position: absolute;
    right: -40px;
    top: 30%;
    width: 25px;
    height: 25px;
    display: none;
}

.address-block-list > label.ant-radio-button-wrapper.address-block > span > img.right-checked {
    position: absolute;
    left: -40px;
    top: 30%;
    width: 25px;
    height: 25px;
    display: none;
}

.address-block-list > label.ant-radio-button-wrapper.ant-radio-button-wrapper-checked.address-block > span > img {
    display: block;
    object-fit: contain;
    width: 25px;
    height: 25px;
}

.responsive-drawer > .ant-drawer-content-wrapper {
    width: 520px !important;
}


@media (max-width: 480px) { 
    .responsive-drawer > .ant-drawer-content-wrapper {
        width: 100% !important;
    }
}