.cart-items {
    display: flex;
    color: #d7d7d7;
}

.cart-items > div {
    flex: auto;
}
.cart-items > .item-action {
    text-align: right;
}
.action-btn.btn-group > button.ant-btn.ant-btn-ghost.ant-btn-sm {
    color: #fff;
    padding: revert;
    border: 1px solid #608E51;
}

.cart-items-container > p {
    color: #fff;
    font-size: 16px;
}

button.ant-picker-header-next-btn {
    color: #fff;
}

button.ant-picker-header-super-prev-btn {
    color: #fff;
}

button.ant-picker-header-prev-btn {
    color: #fff;
}

button.ant-picker-header-super-next-btn {
    color: #fff;
}
.cart-items-container {
    margin-top: 90px;
}

textarea.ant-input[varient="bottom-outline"] {
    background: none;
    color: #fff;
    border: none;
    border-bottom: 2px solid #6f9c67;
}
.ant-input-textarea-show-count::after {
    color: #b6b4b4;
}

button.apply-coupon-btn {
    background: none !important;
    border-color: #519048 !important;
    color: #519048 !important;
    text-align: left;
    font-size: 14px;
}

.checkout-mode-radio label.ant-radio-button-wrapper {
    width: 50%;
    text-align: center;
    color: #fff !important;
}

.checkout-mode-radio {
    width: 100%;
}


p.checkout-total-heading {
    color: #d7d7d7;
    font-weight: 400;
}

p.checkout-total-value {
    font-weight: 600;
    text-align: right;
    color: #fff;
}

.border-dashed {
    border-bottom: 1px dashed#d7d7d7;
}

.card.coupon-card {
    background: #51904842;
    border-radius: 1px;
}
.apply-coupon-btn {
    border: 1px solid;
    text-transform: uppercase;
}

.payment-gateway-tab > .ant-tabs-nav > .ant-tabs-nav-wrap {
    background: #519048 !important;
}

.payment-gateway-tab.ant-tabs-left > .ant-tabs-nav > div > .ant-tabs-nav-list > .ant-tabs-tab-active {
    background: #fff !important;
}
.payment-gateway-tab.ant-tabs-left > .ant-tabs-nav > div > .ant-tabs-nav-list > .ant-tabs-tab > .ant-tabs-tab-btn {
    color: #fff;
    text-shadow: 0 0 0.25px currentColor;
}
.payment-gateway-tab.ant-tabs-left > .ant-tabs-nav > div > .ant-tabs-nav-list > .ant-tabs-tab-active > .ant-tabs-tab-btn {
    color: #519048 !important;
    text-shadow: 0 0 0.25px currentColor;
}

.coupon-applied {
    border: 1px dashed #34692f;
    padding: 10px;
    color: #519048 !important;
}

span.removeCouponbtn {
    float: right;
    color: #ffffffab;
}

@media (max-width: 480px) { 

.cart-items-container {
    margin-top: 0px;
}
.ant-collapse-header > p > span {
    font-size: 14px;
}
.ant-drawer {
    z-index: 9999999999 !important;
}  

}