ul.category-list {
    color: #ccc;
    list-style: none;
    padding: 5px 0px;
    /* width: 220px; */
    padding-top: 80px;
    padding-bottom: 80px;
}

li.category-item:hover {
    color: #608E51;
}

li.category-item.active.active-right {
    color: #608E51;
    border-right: 5px solid #608E51;
}

li.category-item.active.active-left {
    color: #608E51;
    border-left: 5px solid #608E51;
}

li.category-item {
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}

.active-category-name{
    color: #9e9e9e;
    padding: 15px 0px 0px;
    font-size: 16px;
    font-weight: 500;
}

.branch-list-container.inActive {
    filter: opacity(0.5);
    pointer-events: none;
}


@media (max-width: 480px) { 
    ul.category-list {
        color: #ccc;
        list-style: none;
        padding: 5px 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: -webkit-box;
        overflow: scroll;
        margin-bottom: 0px;
    }

    li.category-item.active.active-right {
        color: #fff;
        border-right: 5px solid #608E51;
        background: #608E51;
    }

    li.category-item {
        padding: 5px;
        font-size: 16px;
        cursor: pointer;
        background: #0F1B0C;
        margin-left: 5px;
        margin-right: 0px;
        color: #a5a3a3;
    }
    
}