section.homepage-banner-bg{
    background:url('/images/homepage/HomePageBaner.webp');
    width: 100%;
    height: 750px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000b5;
    background-blend-mode: overlay;       
    
}

section.homepage-banner-bg > div.outer-layout{
    text-align: center;
    padding-top: 150px;
    filter: brightness(1.45);
    color:#fff;
    z-index: 1;
}
section.homepage-banner-bg > div.outer-layout > h1{
    color: #fff;
    font-weight: 400;
    letter-spacing: 5px;
}
section.homepage-banner-bg > div.outer-layout > p{
    font-size: 18px;
    word-spacing: 3px;
}
.address-locate-outer{
    max-width: 400px;
    margin: 0 auto;
}

.address-locate-outer > div {
    width: 100%;
}
.address-locate-outer > button {
    margin: 0px 5px;
}

.menu-navigator-container {
    text-align: center;
    cursor: pointer;

}
.menu-navigator-container .title {
color: #fff;
margin-top: 10px;
margin-bottom: 10px;
font-size: 16px;
}
.menu-navigator-container .desc {
text-align: left;
color: #fff;
opacity: 0.65;
min-height: 90px;
}

.menu-navigator-container .navigator-arrow{

float: right;
padding: 10px;
}

.app-promotion-section{
    background: #519048;
    height: 350px;
    overflow: hidden;
}
.home-app-screen{
    width: 100%;
    max-width: 300px;
    border: 5px solid #fff;
    border-radius: 15px;
    margin-top: 40px;
    
}

.app-promo-container{
    padding: 60px 0px;
    color: #fff;

    

}

.app-promo-container > h2{
    color:#fff;
}

img.app-store-icon {
    width: 210px;
}



.coupon-page-card {
    background: none !important;
    border: 1px solid #519048 !important;
    margin-top: 12px;
}

p.coupon-title {
    font-weight: 600;
    font-size: 1.15rem;
    margin-bottom: 0px;
}

/* home navigation */
.home-navigation-outer{
        padding-top: 120px;
}

.app-promo-bg-desktop {
    background: #519048;
}

@media (max-width: 480px) {

    section.homepage-banner-bg > div.outer-layout {
        text-align: center;
        padding-top: 150px;
        filter: brightness(1.45);
        color: #fff;
        z-index: 1;
        padding-bottom: 100px;
    }

    section.homepage-banner-bg > div.outer-layout > h1 {
        color: #fff;
        font-weight: 400;
        letter-spacing: 2px;
        font-size: 25px;
    }

    section.homepage-banner-bg > div.outer-layout > p {
        font-size: 16px;
        word-spacing: 3px;
    }
    section.homepage-banner-bg{
        background:url('/images/homepage/HomePageBaner.webp');
        width: 100%;
        height: auto;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #000000b5;
        background-blend-mode: overlay;       
        
    }
    .home-navigation-outer{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .menu-navigator-container{
        padding: 16px;
        background: #51904833;
        height: 100%;
        width: 100%;
    }
    .navigator-col{
        margin-top: 16px;
    }

    .menu-navigator-container > img {
        width: 50px;
    }

    .menu-navigator-container .title {
        font-size: 1.2em;
    }
    .menu-navigator-container .desc {
        font-size: 1em;
    }

    .app-promo-container {
        padding: 20px 0px;
        color: #fff;
    }

    .app-promo-container > h2 {
        color: #fff;
        font-size: 18px;
    }

    .app-promo-container > p {
        font-size: 14px;
    }

    img.app-store-icon {
        width: 100px;
    }

    .home-app-screen {
        width: 100%;
        max-width: 130px;
        border: 5px solid #fff;
        border-radius: 15px;
        margin-top: 0px;
    }

    .app-promotion-section {
        background: #51904833;
        height: 100%;
        overflow: hidden;
        padding: 20px;
    }

    .app-promo-bg-desktop {
        background: none;
    }

    .mobile-app-bar > .appbar-icon > a > img,  .mobile-app-bar > .appbar-icon > div > img{
        width: 25px;
        height: 25px;
        object-fit: contain;
    }
    .active.appbar-icon {
        border-top: 4px solid #519048;
    }

}
