.login-form {
    max-width: 100%;
  }
 .login-form-forgot {
    float: right;
  }

  input:focus-visible {
    outline: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.mobile-prefix{
  width: 50px;
    background: none;
    color: #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    border-bottom: 2px solid #B7B7A4 !important;
}
.mobile-input{
  width: calc(100% - 50px);
}
.ant-col-rtl .login-form-forgot {
    float: left;
  }
 .login-form-button {
    width: 100%;
  }
  input.ant-input.otp-input-box {
    height: 40px;
    min-width: 40px !important;
    margin: auto 5px;
}
  input[varient='bottom-outline'],  textarea[varient='bottom-outline']{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 2px solid #B7B7A4 !important;
    background: none;
  }
  .ant-input-affix-wrapper {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom-width: 2.5px !important;
  }
  
  .ant-input[disabled] {
    color: rgb(255 255 255 / 25%) !important;
    background-color: #20351e !important;
}
  .ant-input-affix-wrapper-focused {
    box-shadow: none !important;
  }

  input[varient='bottom-outline']:focus {
    box-shadow: none !important;
  }

  .center{
      text-align: center;
  }

  .gmail-login-button{
     background: #DB4437 !important;
     border-color: #DB4437 !important;
     color:#fff !important;
     margin: 5px auto;
     width: 100%;
   
  }

  .facebook-login-button {
    background: #4267B2 !important;
    color: #fff !important;
    border-color: #4267B2 !important;
    margin: 5px auto;
    width: 100%;
}

.ant-input-password > input[type="password"], .ant-input-password > input[type="text"] {
  border-bottom: 0px !important;
}

.custom-wakame-radio label.ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
  background: #eee !important;
  color: #000 !important;
}

.custom-wakame-radio label.ant-radio-button-wrapper {
  border: none;
  background: #eee;
  margin: 5px;
  box-shadow: none;
  width: 123px;
  color: #519048 !important;
}

.custom-wakame-radio label.ant-radio-button-wrapper:first-child {
  margin-left: 0px;
}
.custom-wakame-radio label.ant-radio-button-wrapper:last-child {
  margin-right: 0px;
}

.custom-wakame-radio .ant-radio-button-wrapper:not(:first-child)::before {
  width: 0px;
}

.custom-wakame-radio label.ant-radio-button-wrapper.ant-radio-button-wrapper-checked:after {
  width: 20px;
  content: '';
  background: url(/images/checkmark-filled.png);
  height: 20px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: bottom;
  top: 8px;
  right: 8px;
}

a{
  color: #519048 !important;
}