section.branch-header-bg {
    background: #608E51;
    margin-top: 80px;
    padding: 50px 0px 0px;
}

section.branch-header-bg > div > .branch-header-details-container {
    display: flex;
    align-items: center;
    margin: 0px 0px;
    background: none;
    box-shadow: none;
    align-content: space-around;
}

section.branch-header-bg > div > .branch-header-details-container > .branch-img-container{
    width: 200px;
    padding: 10px;
    height: 170px;
}


section.branch-header-bg > div > .branch-header-details-container > .branch-img-container > img.branch-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 4px solid #fffffff2;
    border-radius: 2px;
}

.branch-header-details-container > .branch-details-container > p.branch-name {
    font-weight: 400;
    margin-bottom: 5px;
    color: #fff;
    font-size: 20px;
}

.branch-header-details-container > .branch-details-container > p.branch-address {
    font-size: 14px;
    opacity: 0.85;
    color: #fff;
    margin-bottom: 5px;
}

.branch-timing-rating > .branch-details-container > p.branch-timing {
    font-size: 14px;
    color: #ffffffc4;
}

.branch-timing-rating > .branch-action-container > p.branch-review {
    margin-bottom: 2px;
    font-size: 11px;
    color: #d7d3d3;
}

.branch-header-details-container > .branch-action-container{

    align-self: flex-end;
    margin-bottom: 20px;

}

.branch-header-details-container > .branch-action-container > button {
    background: #4285F4;
    color: #fff;
   
}

.branch-header-details-container > .branch-action-container {
    text-align: right;
}

.btn-group > button {
    border-radius: 0px;
    padding: 5px;
}

.item-card {
    background: #fff !important;
    color: #000 !important;
    width: 95% !important;
    margin: 0 auto !important;
}
.ant-card-meta-description {
    color: rgba(0, 0, 0, 0.35) !important;
    font-weight: 500;
    font-size: 0.85rem;
}

.ant-card-meta-title {
    color: #000 !important;
}

.ant-card-actions {
    background: #fff !important;
}


button.ant-btn.ant-btn-dashed.item-add-btn {
    background: none;
    border-color: #52c41a;
    border-width: 2px;
    color: #52c41a;
    font-weight: 500;
}

@media (max-width: 480px) { 
.branch-details-container {
    width: 100%;
}
section.branch-header-bg{
    margin-top: 0px;
    padding: 10px 0px 10px;
}

img.item-image-mobile {
    width: 100%;
    max-width: 120px;
    height: 100%;
    object-fit: cover;
    padding: 5px;
}
.item-content-mobile{
    padding: 0px 5px;
}

.item-content-mobile > p.item-title-description {
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.5;
}
.item-mobile-card {
    background: #0F1B0C;
    padding: 0px;
}
.item-content-mobile > p.item-title-mobile {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.item-content-mobile-price > .item-price > .ant-statistic-content {
    color: #fff !important;
    font-size: 14px;
    font-weight: 300;
}

.item-content-mobile-price > .item-price-before > .ant-statistic-content {
    font-size: 11px !important;
    color: #6f9c67 !important;
    margin-bottom: 5px;
}

button.ant-btn.item-add-btn-mobile {
    background: #519048;
    color: #fff;
    border: none;
}

}