.item-card > .ant-card-cover > img.item-image {
    height: 200px;
    object-fit: cover;
    object-position: top;
}

.item-card > .ant-card-body {
    padding: 5px;
    position: relative;
    min-height: 160px;
    height: 100%;
    max-height: 180px;
}

ul.ant-card-actions {
    width: 100%;
    bottom: 0;
    position: absolute;
    border: none !important;
}

.ant-card-actions > li {
    margin: 0px 0 !important;
    border: 0px !important;
}

.ant-card-meta-detail > div:not(:last-child) {
    margin-bottom: 0px !important;
}

.no-prod-available{
    width: 100%;
    text-align: center;
    padding: 100px;
}

.no-prod-available p {
    font-size: 16px;
    color: #9e9e9e;
    padding: 10px;
}
.item-price > .ant-statistic-content {
    color: #333 !important;
    font-size: 18px;
    font-weight: 600;
}

.item-price-before > .ant-statistic-content {
    font-size: 10px;
    line-height: 0;
    color: #45b80c !important;
    font-weight: 500;
}
.item-price-before > .ant-statistic-content > span.ant-statistic-content-value {
    text-decoration: line-through;
}
.item-price-before > .ant-statistic-content > span.ant-statistic-content-prefix {
    text-decoration: line-through;
}


@media (max-width: 480px) { 

    .item-price > .ant-statistic-content {
        font-size: 14px;
    }

    .ant-card-meta-title {
        font-size: 14px;
    }
    .item-price-before > .ant-statistic-content {
        font-size: 10px !important;
    }

    .ant-card-meta-description {
        color: rgba(0, 0, 0, 0.35) !important;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.5;
    }

    .checkout-btn{
        position: fixed;
        bottom: 5px;
        left: 0;
        z-index: 9;
    }
}