.contact-us-branch-contact-view {
    background: #519048;
    max-width: 340px;
    width: 100%;
    border-radius: 4px;
    float: right;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background: none;
}
.ant-select-arrow{
    color: rgb(255 255 255 / 90%);
}

.ant-select-item.ant-select-item-option.ant-select-item-option-active {
    background: #000;
}